In [3]:
# Imports
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from collections import defaultdict
import os

In [134]:
# Transform into two dimensional table

def transform_brackets(income_brackets):
    income_brackets = income_brackets.rename(columns={'ZIP\rcode [1]': 'zip_code', 
                                                              'Size of adjusted gross income': 'income', 
                                                              'Number of returns': 'returns'})
    # income_brackets2015
    

    # seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98111, 
    #                 98112, 98113, 98114, 98115, 98116, 98117, 98118, 98119, 98121, 98122, 
    #                 98124, 98125, 98126, 98127, 98129, 98131, 98132, 98133, 98134, 98136, 
    #                 98138, 98139, 98141, 98144, 98145, 98146, 98148, 98151, 98154, 98155, 
    #                 98158, 98160, 98161, 98164, 98165, 98166, 98168, 98170, 98171, 98174, 
    #                 98175, 98177, 98178, 98181, 98184, 98185, 98188, 98189, 98190, 98191, 
    #                 98194, 98195, 98198, 98199, 98110]
    seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
             98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
             98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]
    seattle_income_brackets = income_brackets[income_brackets["zip_code"].isin(seattle_zips)]
    # print(seattle_income_brackets)

    # # want 
    # # zip_code | 1 - 24999 | 25000 ....
    # # 99999      number

    # LITERAL GARBAGE USER BEWARE
    zips = defaultdict(list)
    zips_df = d = {'zip_code': [], '1-24999': [], '25000-49999': [], '50000-74999': [], '75000-99999': [], '100000-199999': [], '200000+': [] }
    # for index, row in seattle_income_brackets.iterrows():
    row_iterator = seattle_income_brackets.iterrows()
    for i, row in row_iterator:
        if row['income'] is not 'nan':
            if row['returns'] == "**":
                zips[row['zip_code']].append(0)
            else:
                zips[int(row['zip_code'])].append(row['returns'].replace(',', ''))
    for k, v in zips.items():
    #     print(k,v)
        zips_df['zip_code'].append(k)
        zips_df['1-24999'].append(int(v[0]))
        zips_df['25000-49999'].append(int(v[1]))
        zips_df['50000-74999'].append(int(v[2]))
        zips_df['75000-99999'].append(int(v[3]))
        zips_df['100000-199999'].append(int(v[4]))
        zips_df['200000+'].append(int(v[5]))

    df = pd.DataFrame(data=zips_df)
    return df

In [157]:
# import glob
# dir = os.getcwd()
# timeseries_df = []
# for file in glob.glob("*.csv"):
#     print(file)
#     bracket = pd.read_csv(str(file))
#     timeseries_df.append(transform_brackets(bracket))
    
# print(timeseries_df[0])
# for filename in os.listdir(path):
#     f = os.path.join(dir, filename)
#     bracket = pd.read_csv(str(filename))
#     timeseries_df.append(transform_brackets(bracket))
    
income_brackets2011 = pd.read_csv("./irs_tax_washington_2011.csv")
# print(list(income_brackets2011))
test = transform_brackets(income_brackets2011)
test
# sum_bracket = df.sum(axis=0)
#     sum_bracket = sum_bracket.drop(['zip_code'])
#     new_index= ['1-24999', '25000-49999', '50000-74999', '75000-99999','100000-199999', '200000+']
#     sum_bracket = sum_bracket.reindex(new_index)
#     sum_bracket
#     sum_bracket.plot(kind='bar')
#     plt.title("Income Brackets in Seattle")
#     plt.viridis()
#     plt.show()

Empty DataFrame
Columns: [1-24999, 100000-199999, 200000+, 25000-49999, 50000-74999, 75000-99999, zip_code]
Index: []

In [24]:
# Kyle does some crazy shit.
income_brackets2015 = pd.read_csv("./datasets/income_bracket_wa copy_cleaned.csv")
income_brackets2015 = income_brackets2015.rename(columns={'ZIP\rcode [1]': 'zip_code', 
                                                          'Total income': 'returns', 
                                                          'Unnamed: 18': 'total_income'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]
seattle_income_brackets = income_brackets2015[income_brackets2015["zip_code"].isin(seattle_zips)]
row_iterator = seattle_income_brackets.iterrows()
for i, row in row_iterator:
    if (i % 8 == 1):
        total_income = int(row["total_income"].replace(',', ''))
        returns = int(row["returns"].replace(',', ''))
        
        average_income_per_return = total_income / returns
        print(str(row["zip_code"]) + " has average return of " + str(average_income_per_return))
seattle_income_brackets

print("kyle is sexy af and his data science skills are passable")

98101.0 has average return of 182.79722891566266
98102.0 has average return of 118.63175270108043
98103.0 has average return of 99.41001697792869
98104.0 has average return of 110.3875730994152
98105.0 has average return of 154.41700236966824
98106.0 has average return of 57.324786324786324
98107.0 has average return of 92.73978629792583
98108.0 has average return of 54.83138866064092
98109.0 has average return of 128.3457382953181
98112.0 has average return of 249.7257698541329
98115.0 has average return of 120.2459041147603
98116.0 has average return of 114.45964063579821
98117.0 has average return of 112.08305462653288
98118.0 has average return of 64.83236425823002
98119.0 has average return of 132.56860198624904
98121.0 has average return of 163.35692007797272
98122.0 has average return of 90.72025198320112
98125.0 has average return of 72.07039132484677
98126.0 has average return of 83.03312555654497
98133.0 has average return of 62.97366733466934
98134.0 has average return of 181.18235294117648
98136.0 has average return of 121.22929642445213
98144.0 has average return of 90.59923615531508
98146.0 has average return of 64.57054034048852
98164.0 has average return of 207.14545454545456
98177.0 has average return of 147.2626923076923
98178.0 has average return of 56.0468085106383
98199.0 has average return of 161.3770740410348

,zip_code,Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],...,Total tax liability [10],Unnamed: 120,Additional Medicare tax,Unnamed: 122,Net investment income tax,Unnamed: 124,Tax due at time of filing [11],Unnamed: 126,Overpayments refunded [12],Unnamed: 128
425,98101.0,NaN,"8,300","6,110","1,780",250,"3,160","10,910","1,010",250,...,"7,460","324,201",750,"1,620",860,"8,403","2,270","20,584","5,300","34,856"
426,98101.0,"$1 under $25,000",1570,1390,80,70,450,1630,140,160,...,870,905,0,0,0,0,200,201,1140,1404
427,98101.0,"$25,000 under $50,000",1650,1450,110,60,440,1920,170,70,...,1580,5379,0,0,0,0,320,597,1270,2166
428,98101.0,"$50,000 under $75,000",1140,940,140,40,370,1400,130,20,...,1110,8738,0,0,0,0,300,740,780,1818
429,98101.0,"$75,000 under $100,000",800,600,150,20,310,1020,70,**,...,790,10195,**,**,0,0,210,677,550,1676
430,98101.0,"$100,000 under $200,000",1920,1270,590,30,770,2690,180,**,...,1890,47601,50,12,**,**,640,2817,1160,4197
431,98101.0,"$200,000 or more",1220,460,710,30,820,2250,320,0,...,1220,251383,700,1608,860,8403,600,15552,400,23595
433,98102.0,NaN,"16,660","13,200","2,910",360,"4,700","20,890","1,690",220,...,"15,340","385,075","1,010","2,153","1,140","11,502","4,420","42,494","11,350","32,936"
434,98102.0,"$1 under $25,000",3010,2820,100,60,680,2910,100,110,...,1840,1983,0,0,0,0,450,445,2300,2589
435,98102.0,"$25,000 under $50,000",4190,3900,170,70,730,4490,160,110,...,4100,14802,0,0,0,0,870,1395,3240,4653
436,98102.0,"$50,000 under $75,000",3070,2660,300,60,630,3500,160,**,...,3030,24476,0,0,0,0,710,1824,2300,4379
437,98102.0,"$75,000 under $100,000",1780,1380,330,50,510,2260,150,**,...,1770,23472,**,**,**,**,520,1389,1210,2892
438,98102.0,"$100,000 under $200,000",3020,1970,960,60,1070,4360,380,**,...,3010,73759,70,16,**,**,1030,4511,1840,5937
439,98102.0,"$200,000 or more",1590,470,1050,60,1080,3370,740,0,...,1590,246583,940,2137,1140,11502,840,32930,460,12486
441,98103.0,NaN,"29,450","19,770","8,250","1,090","9,050","44,790","8,050",590,...,"26,530","509,245","1,900","2,468","1,930","6,700","8,410","54,319","19,380","48,103"
442,98103.0,"$1 under $25,000",5970,5360,290,260,1520,5990,620,300,...,3490,3706,0,0,0,0,1010,1016,4310,5196
443,98103.0,"$25,000 under $50,000",6940,6020,540,300,1470,8250,820,190,...,6650,23332,0,0,0,0,1420,2355,5380,8147
444,98103.0,"$50,000 under $75,000",4760,3780,720,170,1200,6130,660,70,...,4690,35825,**,**,0,0,1210,2467,3410,6810
445,98103.0,"$75,000 under $100,000",3130,1990,980,110,950,4810,700,30,...,3090,37218,**,**,**,**,900,2466,2110,5397
446,98103.0,"$100,000 under $200,000",5610,2100,3280,180,2190,11550,2660,**,...,5580,124165,90,16,30,22,2150,9888,3180,12476
447,98103.0,"$200,000 or more",3040,520,2440,70,1720,8060,2590,**,...,3030,284999,1810,2452,1900,6678,1720,36127,990,10077
449,98104.0,NaN,"6,840","5,160","1,250",300,"2,310","8,990","1,100",590,...,"5,700","145,767",260,692,370,"6,455","1,510","9,382","4,840","17,403"
450,98104.0,"$1 under $25,000",2220,1880,170,120,640,2540,330,440,...,1200,1084,0,0,0,0,280,227,1780,2306
451,98104.0,"$25,000 under $50,000",1720,1420,170,90,450,2150,280,120,...,1630,5440,0,0,0,0,320,550,1360,2203
452,98104.0,"$50,000 under $75,000",870,700,130,50,230,1090,90,30,...,860,6632,0,0,0,0,230,631,610,1257
453,98104.0,"$75,000 under $100,000",540,400,120,**,190,730,70,**,...,530,6796,0,0,0,0,140,447,360,1012
454,98104.0,"$100,000 under $200,000",970,590,340,40,400,1450,140,**,...,960,23462,30,7,**,**,320,2015,580,1999
455,98104.0,"$200,000 or more",520,170,320,**,400,1030,190,0,...,520,102353,230,685,370,6455,220,5512,150,8626
457,98105.0,NaN,"16,880","11,430","4,700",550,"5,200","25,160","5,370",400,...,"13,610","432,497","1,440","3,555","1,530","9,656","4,180","43,610","11,390","34,759"
458,98105.0,"$1 under $25,000",6220,5810,210,130,1170,5100,390,240,...,3210,2743,0,0,0,0,740,615,5030,5122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,98146.0,"$100,000 under $200,000",1820,320,1410,90,920,4490,1260,**,...,1820,34361,**,**,**,**,680,3249,1070,4038
623,98146.0,"$200,000 or more",500,60,430,**,330,1340,410,0,...,500,46581,240,366,280,716,250,6198,180,1762
641,98164.0,NaN,110,70,40,0,50,160,0,0,...,100,"5,227",20,28,20,16,40,357,50,181
642,98164.0,"$1 under $25,000",**,**,**,0,**,**,0,0,...,**,**,0,0,0,0,**,**,**,**
643,98164.0,"$25,000 under $50,000",**,**,**,0,**,**,0,0,...,**,**,0,0,0,0,**,**,**,**
644,98164.0,"$50,000 under $75,000",40,30,**,0,**,40,0,0,...,30,272,0,0,0,0,20,45,**,**
645,98164.0,"$75,000 under $100,000",**,**,**,0,**,**,0,0,...,**,**,**,**,**,**,**,**,**,**
646,98164.0,"$100,000 under $200,000",40,40,40,0,50,60,0,0,...,40,1111,20,28,0,0,**,**,50,181
647,98164.0,"$200,000 or more",30,**,**,0,**,60,0,0,...,30,3844,**,**,20,16,20,312,**,**
665,98177.0,NaN,"10,400","4,840","4,880",580,"4,910","19,740","5,220",260,...,"8,900","286,314",810,"1,413","1,040","7,027","3,070","28,747","6,170","28,526"
666,98177.0,"$1 under $25,000",2440,2090,210,110,900,2220,280,120,...,1200,1178,0,0,0,0,340,293,1730,2077
667,98177.0,"$25,000 under $50,000",1610,1110,330,140,600,2340,450,80,...,1440,4535,0,0,0,0,380,697,1130,2344
668,98177.0,"$50,000 under $75,000",1220,680,410,110,530,2060,430,30,...,1180,7629,0,0,0,0,340,799,810,2113
669,98177.0,"$75,000 under $100,000",1030,410,520,90,490,2060,510,30,...,1010,9746,0,0,0,0,330,1048,620,2246
670,98177.0,"$100,000 under $200,000",2440,420,1920,90,1240,6220,1860,**,...,2410,47884,20,3,**,**,890,4519,1360,6693
671,98177.0,"$200,000 or more",1660,130,1490,40,1150,4840,1690,**,...,1660,215342,790,1410,1040,7027,790,21391,520,13053
673,98178.0,NaN,"12,690","6,580","3,850","2,060","5,790","23,750","7,780",690,...,"9,970","82,729",110,150,130,219,"2,420","9,188","9,880","26,317"
674,98178.0,"$1 under $25,000",4120,2880,430,770,1740,5930,1940,350,...,2040,1906,0,0,0,0,380,318,3510,7324
675,98178.0,"$25,000 under $50,000",3530,1950,700,790,1540,6670,2460,230,...,2980,8380,0,0,0,0,510,863,2980,7809
676,98178.0,"$50,000 under $75,000",2030,960,730,300,970,4120,1360,80,...,1950,11569,0,0,0,0,480,1104,1510,4182
677,98178.0,"$75,000 under $100,000",1270,460,670,120,620,2740,800,30,...,1260,12328,0,0,0,0,350,1122,900,2714
678,98178.0,"$100,000 under $200,000",1470,290,1090,80,740,3610,1040,**,...,1470,27327,**,**,**,**,540,2309,880,3513
679,98178.0,"$200,000 or more",270,40,230,**,180,680,180,0,...,270,21219,110,150,130,219,160,3472,100,775
697,98199.0,NaN,"11,210","5,910","4,630",530,"5,010","20,130","4,860",220,...,"10,050","366,451","1,370","2,500","1,430","7,309","3,460","42,427","6,660","24,271"
698,98199.0,"$1 under $25,000",2050,1830,120,80,670,1840,200,80,...,1110,1043,0,0,0,0,310,296,1470,1687
699,98199.0,"$25,000 under $50,000",1950,1550,230,130,580,2480,330,90,...,1800,6033,0,0,0,0,380,662,1480,2503
700,98199.0,"$50,000 under $75,000",1490,1050,330,80,550,2130,320,30,...,1450,10296,0,0,0,0,420,954,990,2400
701,98199.0,"$75,000 under $100,000",1050,540,410,70,460,1810,350,20,...,1030,11206,0,0,0,0,310,1102,670,2072
702,98199.0,"$100,000 under $200,000",2460,690,1650,110,1240,5570,1460,**,...,2450,51747,40,6,**,**,930,4722,1350,6495
703,98199.0,"$200,000 or more",2210,250,1890,60,1510,6300,2200,**,...,2210,286126,1330,2494,1430,7309,1110,34691,700,9114

1