In [3]:
# Imports
import pandas as pd
import numpy as np
import matplotlib as mpl

In [47]:
# Read in data 
income_brackets2015 = pd.read_csv("./datasets/income_bracket_wa copy_cleaned.csv")
print(list(income_brackets2015))
income_brackets2015

['ZIP\rcode [1]', 'Size of adjusted gross income', 'Number of returns', 'Number of single returns', 'Number of joint returns', 'Number of head of household returns', "Number with paid preparer's signature", 'Number of exemptions', 'Number of dependents', 'Number of volunteer prepared returns [2]', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Number of refund anticipation loan returns', 'Number of refund anticipation check returns', 'Number of elderly returns [3]', 'Adjusted gross income (AGI) [4]', 'Total income', 'Unnamed: 18', 'Salaries and wages in AGI', 'Unnamed: 20', 'Taxable interest', 'Unnamed: 22', 'Ordinary dividends', 'Unnamed: 24', 'Qualified dividends [5]', 'Unnamed: 26', 'State and local income tax refunds\r', 'Unnamed: 28', 'Business or profession\rnet income (less loss)', 'Unnamed: 30', 'Net capital gain (less loss) in AGI', 'Unnamed: 32', 'Taxable individual retirement\rarrangement distributions', 'Unnamed: 34', 'Pensions and annuities in AGI', 'Unnamed: 36', 'Number of \rfarm returns', 'Unemployment compensation [6]', 'Unnamed: 39', 'Taxable Social Security benefits', 'Unnamed: 41', 'Partnership/S-corp net income (less loss)', 'Unnamed: 43', 'Total statuory adjustments', 'Unnamed: 45', 'Educator expenses', 'Unnamed: 47', 'Self-employment retirement plans', 'Unnamed: 49', 'Self-employment health insurance deduction', 'Unnamed: 51', 'IRA payments', 'Unnamed: 53', 'Student loan interest deduction', 'Unnamed: 55', 'Tuition and fees deduction', 'Unnamed: 57', 'Domestic production activities deduction', 'Unnamed: 59', 'Total itemized deductions', 'Unnamed: 61', 'Unnamed: 62', 'State and local income taxes', 'Unnamed: 64', 'State and local general sales taxes', 'Unnamed: 66', 'Real estate taxes', 'Unnamed: 68', 'Taxes paid', 'Unnamed: 70', 'Mortgage interest paid', 'Unnamed: 72', 'Contributions', 'Unnamed: 74', 'Taxable income', 'Unnamed: 76', 'Income tax before credits', 'Unnamed: 78', 'Alternative minimum tax', 'Unnamed: 80', 'Excess advance premium tax credit repayment', 'Unnamed: 82', 'Total tax credits', 'Unnamed: 84', 'Foreign tax credit', 'Unnamed: 86', 'Child and dependent care credit', 'Unnamed: 88', 'Nonrefundable education credit', 'Unnamed: 90', 'Retirement savings contribution credit', 'Unnamed: 92', 'Child tax credit', 'Unnamed: 94', 'Residential energy tax credit', 'Unnamed: 96', 'Self-employment tax', 'Unnamed: 98', 'Total premium tax credit', 'Unnamed: 100', 'Advance premium tax credit', 'Unnamed: 102', 'Health care individual responsibility payment', 'Unnamed: 104', 'Total tax payments', 'Unnamed: 106', 'Earned income credit [7]', 'Unnamed: 108', 'Excess earned income credit \r(refundable) [8]', 'Unnamed: 110', 'Additional child tax credit', 'Unnamed: 112', 'Refundable education credit', 'Unnamed: 114', 'Net premium tax credit', 'Unnamed: 116', 'Income tax [9]', 'Unnamed: 118', 'Total tax liability [10]', 'Unnamed: 120', 'Additional Medicare tax', 'Unnamed: 122', 'Net investment income tax', 'Unnamed: 124', 'Tax due at time of filing [11]', 'Unnamed: 126', 'Overpayments refunded [12]', 'Unnamed: 128']

,ZIP code [1],Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Number of volunteer prepared returns [2],...,Total tax liability [10],Unnamed: 120,Additional Medicare tax,Unnamed: 122,Net investment income tax,Unnamed: 124,Tax due at time of filing [11],Unnamed: 126,Overpayments refunded [12],Unnamed: 128
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,0.0,Total,"3,385,440","1,604,510","1,356,840","379,370","1,393,410","6,645,680","2,083,540","81,920",...,"2,686,470","39,022,877","90,160","157,758","102,870","467,281","719,250","4,245,450","2,497,800","7,133,353"
2,0.0,"$1 under $25,000",1031890,752310,121550,145290,355420,1359740,380600,44360,...,492090,433644,0,0,0,0,97080,80559,853850,1513279
3,0.0,"$25,000 under $50,000",802420,441230,207530,140030,306430,1522590,518490,25660,...,672690,1887485,0,0,0,0,121400,192476,666130,1636980
4,0.0,"$50,000 under $75,000",499800,212790,227380,52020,213140,1062570,336010,9180,...,477240,2796834,0,0,0,0,118040,270932,370050,987421
5,0.0,"$75,000 under $100,000",342590,94490,222750,21260,152970,809050,243480,2280,...,338200,3128915,20,6,0,0,91370,265355,240060,758878
6,0.0,"$100,000 under $200,000",525250,85250,419090,17920,247890,1369350,425340,440,...,522900,9900487,2830,743,460,227,195840,921104,306380,1234068
7,0.0,"$200,000 or more",183490,18440,158540,2850,117560,522380,179620,**,...,183350,20875512,87310,157009,102410,467054,95520,2515024,61330,1002727
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,98001.0,NaN,"15,760","7,180","6,610","1,780","6,900","31,710","10,380",260,...,"12,960","130,866",190,183,220,393,"3,230","14,894","12,040","31,921"
10,98001.0,"$1 under $25,000",4420,3280,530,560,1710,5590,1640,140,...,2260,2087,0,0,0,0,440,450,3730,6313
11,98001.0,"$25,000 under $50,000",3750,2130,930,620,1570,6990,2350,90,...,3230,9338,0,0,0,0,510,1042,3180,7757
12,98001.0,"$50,000 under $75,000",2520,1010,1140,340,1160,5670,2000,30,...,2420,13791,0,0,0,0,550,1409,1940,5446
13,98001.0,"$75,000 under $100,000",1850,430,1250,140,840,4600,1500,**,...,1830,16344,0,0,0,0,450,1266,1370,4352
14,98001.0,"$100,000 under $200,000",2680,290,2270,120,1280,7320,2370,**,...,2680,48621,**,**,**,**,1000,4313,1610,5969
15,98001.0,"$200,000 or more",540,40,490,**,340,1540,520,**,...,540,40685,190,183,220,393,280,6414,210,2084
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,98002.0,NaN,"15,710","7,700","4,650","3,130","6,650","32,230","12,390",670,...,"11,490","64,441",40,19,50,57,"2,300","6,591","13,050","33,841"
18,98002.0,"$1 under $25,000",5590,3690,610,1240,2140,8940,3250,340,...,2550,2231,0,0,0,0,410,349,4930,10715
19,98002.0,"$25,000 under $50,000",5140,2510,1160,1370,2160,11060,4770,250,...,4120,11010,0,0,0,0,600,877,4490,11845
20,98002.0,"$50,000 under $75,000",2440,980,1060,350,1110,5650,2150,80,...,2290,13019,0,0,0,0,520,1249,1910,5280
21,98002.0,"$75,000 under $100,000",1280,310,830,120,610,3320,1210,**,...,1270,11181,0,0,0,0,280,809,990,3271
22,98002.0,"$100,000 under $200,000",1140,190,900,50,560,2950,910,**,...,1140,19949,**,**,**,**,420,1681,700,2571
23,98002.0,"$200,000 or more",120,20,90,**,70,310,100,0,...,120,7051,40,19,50,57,70,1626,30,159
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,98003.0,NaN,"21,740","10,680","6,790","3,970","9,490","43,820","16,250",760,...,"16,090","127,820",150,149,190,705,"3,720","15,774","17,370","46,311"
26,98003.0,"$1 under $25,000",7790,5230,810,1650,3080,11790,4100,430,...,3640,3350,0,0,0,0,700,628,6680,14216
27,98003.0,"$25,000 under $50,000",6450,3240,1510,1580,2760,13560,5640,230,...,5170,13860,0,0,0,0,880,1297,5520,14611
28,98003.0,"$50,000 under $75,000",3280,1310,1410,500,1530,7700,3010,100,...,3090,17196,0,0,0,0,690,1569,2550,7117
29,98003.0,"$75,000 under $100,000",1750,490,1110,140,850,4400,1550,**,...,1730,15828,0,0,0,0,450,1297,1270,4250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3963,99403.0,"$25,000 under $50,000",2250,1100,740,390,990,4170,1190,50,...,1920,4845,0,0,0,0,390,552,1810,4247
3964,99403.0,"$50,000 under $75,000",1330,460,740,110,700,2830,760,30,...,1280,7160,0,0,0,0,360,842,920,2159
3965,99403.0,"$75,000 under $100,000",870,140,690,40,480,2200,650,**,...,860,7191,0,0,0,0,290,827,550,1535
3966,99403.0,"$100,000 under $200,000",910,90,800,30,560,2380,680,**,...,910,15514,**,**,0,0,400,2085,450,1586
3967,99403.0,"$200,000 or more",190,20,170,**,160,530,170,0,...,190,20284,80,127,120,493,110,2721,40,664
3968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3969,99999.0,NaN,"58,610","29,950","21,100","6,970","28,560","107,620","29,980","1,920",...,"46,140","750,168",870,"1,802","1,590","11,738","12,610","70,034","40,700","139,122"
3970,99999.0,"$1 under $25,000",18620,13380,2340,2720,7450,25580,6770,1050,...,9060,8700,0,0,0,0,1920,1685,14440,25422
3971,99999.0,"$25,000 under $50,000",14600,8110,3610,2570,6540,26970,8850,580,...,12300,36034,0,0,0,0,2590,4573,11380,27497
3972,99999.0,"$50,000 under $75,000",9120,4280,3750,970,4640,17900,5020,230,...,8710,53690,0,0,0,0,2250,5792,6360,16528
3973,99999.0,"$75,000 under $100,000",5800,1940,3490,350,3130,12400,3080,60,...,5700,55504,0,0,0,0,1560,4986,3780,11627
3974,99999.0,"$100,000 under $200,000",7840,1660,5860,280,4610,18390,4660,**,...,7750,147459,40,13,**,**,3060,17205,4060,16727
3975,99999.0,"$200,000 or more",2630,580,2050,80,2190,6380,1600,0,...,2620,448781,830,1789,1590,11738,1230,35793,680,41321
3976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# Transform into two dimensional table
income_brackets2015 = income_brackets2015.rename(columns={'ZIP\rcode [1]': 'zip_code', 
                                                          'Size of adjusted gross income': 'income', 
                                                          'Number of returns': 'returns'})
income_brackets2015


seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98111, 
                98112, 98113, 98114, 98115, 98116, 98117, 98118, 98119, 98121, 98122, 
                98124, 98125, 98126, 98127, 98129, 98131, 98132, 98133, 98134, 98136, 
                98138, 98139, 98141, 98144, 98145, 98146, 98148, 98151, 98154, 98155, 
                98158, 98160, 98161, 98164, 98165, 98166, 98168, 98170, 98171, 98174, 
                98175, 98177, 98178, 98181, 98184, 98185, 98188, 98189, 98190, 98191, 
                98194, 98195, 98198, 98199, 98110]
seattle_income_brackets = income_brackets2015[income_brackets2015["zip_code"].isin(seattle_zips)]
# print(seattle_income_brackets)

# # want 
# # zip_code | 1 - 24999 | 25000 ....
# # 99999      number

# LITERAL GARBAGE USER BEWARE
from collections import defaultdict
import math
zips = defaultdict(list)
zips_df = d = {'zip_code': [], '1-24999': [], '25000-49999': [], '50000-74999': [], '75000-99999': [], '100000-199999': [], '200000+': [] }
# for index, row in seattle_income_brackets.iterrows():
row_iterator = seattle_income_brackets.iterrows()
for i, row in row_iterator:
    if row['income'] is not 'nan':
        if row['returns'] == "**":
            zips[row['zip_code']].append(0)
        else:
            zips[int(row['zip_code'])].append(row['returns'].replace(',', ''))
for k, v in zips.items():
    print(k,v)
    zips_df['zip_code'].append(k)
    zips_df['1-24999'].append(v[0])
    zips_df['25000-49999'].append(v[1])
    zips_df['50000-74999'].append(v[2])
    zips_df['75000-99999'].append(v[3])
    zips_df['100000-199999'].append(v[4])
    zips_df['200000+'].append(v[5])
    
df = pd.DataFrame(data=zips_df)
df

98101 ['8300', '1570', '1650', '1140', '800', '1920', '1220']
98102 ['16660', '3010', '4190', '3070', '1780', '3020', '1590']
98103 ['29450', '5970', '6940', '4760', '3130', '5610', '3040']
98104 ['6840', '2220', '1720', '870', '540', '970', '520']
98105 ['16880', '6220', '3500', '1660', '1010', '2210', '2280']
98106 ['12870', '3960', '3590', '2050', '1350', '1690', '230']
98107 ['15910', '2910', '3760', '2800', '1860', '3260', '1320']
98108 ['12170', '4170', '3800', '1740', '910', '1250', '300']
98109 ['16660', '2490', '3320', '2810', '2010', '4000', '2030']
98110 ['11650', '2810', '1490', '1270', '1070', '2840', '2170']
98112 ['12340', '2470', '2170', '1600', '1000', '2220', '2880']
98115 ['26490', '5740', '4970', '3590', '2540', '5850', '3800']
98116 ['14470', '2670', '2760', '2260', '1620', '3350', '1810']
98117 ['17940', '3520', '3370', '2460', '1890', '4420', '2280']
98118 ['23390', '8050', '6290', '3230', '2010', '2800', '1010']
98119 ['13090', '2330', '2970', '2160', '1350', '2470', '1810']
98121 ['10260', '1630', '1650', '1320', '1240', '3020', '1400']
98122 ['21430', '5430', '5450', '3210', '1910', '3640', '1790']
98125 ['21210', '6100', '5520', '3160', '1950', '3370', '1110']
98126 ['11230', '2550', '2510', '1800', '1320', '2280', '770']
98133 ['24950', '7210', '6680', '4060', '2550', '3710', '740']
98134 ['510', '170', '140', '70', '40', '50', '40']
98136 ['8670', '1680', '1600', '1280', '980', '2030', '1100']
98144 ['15710', '4540', '4090', '2280', '1310', '2230', '1260']
98146 ['13510', '4190', '3690', '2110', '1200', '1820', '500']
98148 ['5340', '1700', '1690', '860', '460', '560', '70']
98155 ['17760', '4720', '3990', '2720', '1910', '3370', '1050']
98164 ['110', 0, 0, '40', 0, '40', '30']
98166 ['10920', '2830', '2550', '1520', '1020', '2090', '910']
98168 ['17720', '6260', '5730', '2690', '1410', '1470', '160']
98177 ['10400', '2440', '1610', '1220', '1030', '2440', '1660']
98178 ['12690', '4120', '3530', '2030', '1270', '1470', '270']
98188 ['13050', '4830', '4320', '1850', '930', '930', '190']
98198 ['18410', '5700', '5260', '2940', '1780', '2260', '470']
98199 ['11210', '2050', '1950', '1490', '1050', '2460', '2210']

   1-24999 100000-199999 200000+ 25000-49999 50000-74999 75000-99999  zip_code
0     8300           800    1920        1570        1650        1140     98101
1    16660          1780    3020        3010        4190        3070     98102
2    29450          3130    5610        5970        6940        4760     98103
3     6840           540     970        2220        1720         870     98104
4    16880          1010    2210        6220        3500        1660     98105
5    12870          1350    1690        3960        3590        2050     98106
6    15910          1860    3260        2910        3760        2800     98107
7    12170           910    1250        4170        3800        1740     98108
8    16660          2010    4000        2490        3320        2810     98109
9    11650          1070    2840        2810        1490        1270     98110
10   12340          1000    2220        2470        2170        1600     98112
11   26490          2540    5850        5740        4970        3590     98115
12   14470          1620    3350        2670        2760        2260     98116
13   17940          1890    4420        3520        3370        2460     98117
14   23390          2010    2800        8050        6290        3230     98118
15   13090          1350    2470        2330        2970        2160     98119
16   10260          1240    3020        1630        1650        1320     98121
17   21430          1910    3640        5430        5450        3210     98122
18   21210          1950    3370        6100        5520        3160     98125
19   11230          1320    2280        2550        2510        1800     98126
20   24950          2550    3710        7210        6680        4060     98133
21     510            40      50         170         140          70     98134
22    8670           980    2030        1680        1600        1280     98136
23   15710          1310    2230        4540        4090        2280     98144
24   13510          1200    1820        4190        3690        2110     98146
25    5340           460     560        1700        1690         860     98148
26   17760          1910    3370        4720        3990        2720     98155
27     110             0      40           0           0          40     98164
28   10920          1020    2090        2830        2550        1520     98166
29   17720          1410    1470        6260        5730        2690     98168
30   10400          1030    2440        2440        1610        1220     98177
31   12690          1270    1470        4120        3530        2030     98178
32   13050           930     930        4830        4320        1850     98188
33   18410          1780    2260        5700        5260        2940     98198
34   11210          1050    2460        2050        1950        1490     98199