In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt

In [2]:
# Read in data 
income_brackets2015 = pd.read_csv("./datasets/income_bracket_wa copy_cleaned.csv")
print(list(income_brackets2015))
# income_brackets2015

['ZIP\rcode [1]', 'Size of adjusted gross income', 'Number of returns', 'Number of single returns', 'Number of joint returns', 'Number of head of household returns', "Number with paid preparer's signature", 'Number of exemptions', 'Number of dependents', 'Number of volunteer prepared returns [2]', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Number of refund anticipation loan returns', 'Number of refund anticipation check returns', 'Number of elderly returns [3]', 'Adjusted gross income (AGI) [4]', 'Total income', 'Unnamed: 18', 'Salaries and wages in AGI', 'Unnamed: 20', 'Taxable interest', 'Unnamed: 22', 'Ordinary dividends', 'Unnamed: 24', 'Qualified dividends [5]', 'Unnamed: 26', 'State and local income tax refunds\r', 'Unnamed: 28', 'Business or profession\rnet income (less loss)', 'Unnamed: 30', 'Net capital gain (less loss) in AGI', 'Unnamed: 32', 'Taxable individual retirement\rarrangement distributions', 'Unnamed: 34', 'Pensions and annuities in AGI', 'Unnamed: 36', 'Number of \rfarm returns', 'Unemployment compensation [6]', 'Unnamed: 39', 'Taxable Social Security benefits', 'Unnamed: 41', 'Partnership/S-corp net income (less loss)', 'Unnamed: 43', 'Total statuory adjustments', 'Unnamed: 45', 'Educator expenses', 'Unnamed: 47', 'Self-employment retirement plans', 'Unnamed: 49', 'Self-employment health insurance deduction', 'Unnamed: 51', 'IRA payments', 'Unnamed: 53', 'Student loan interest deduction', 'Unnamed: 55', 'Tuition and fees deduction', 'Unnamed: 57', 'Domestic production activities deduction', 'Unnamed: 59', 'Total itemized deductions', 'Unnamed: 61', 'Unnamed: 62', 'State and local income taxes', 'Unnamed: 64', 'State and local general sales taxes', 'Unnamed: 66', 'Real estate taxes', 'Unnamed: 68', 'Taxes paid', 'Unnamed: 70', 'Mortgage interest paid', 'Unnamed: 72', 'Contributions', 'Unnamed: 74', 'Taxable income', 'Unnamed: 76', 'Income tax before credits', 'Unnamed: 78', 'Alternative minimum tax', 'Unnamed: 80', 'Excess advance premium tax credit repayment', 'Unnamed: 82', 'Total tax credits', 'Unnamed: 84', 'Foreign tax credit', 'Unnamed: 86', 'Child and dependent care credit', 'Unnamed: 88', 'Nonrefundable education credit', 'Unnamed: 90', 'Retirement savings contribution credit', 'Unnamed: 92', 'Child tax credit', 'Unnamed: 94', 'Residential energy tax credit', 'Unnamed: 96', 'Self-employment tax', 'Unnamed: 98', 'Total premium tax credit', 'Unnamed: 100', 'Advance premium tax credit', 'Unnamed: 102', 'Health care individual responsibility payment', 'Unnamed: 104', 'Total tax payments', 'Unnamed: 106', 'Earned income credit [7]', 'Unnamed: 108', 'Excess earned income credit \r(refundable) [8]', 'Unnamed: 110', 'Additional child tax credit', 'Unnamed: 112', 'Refundable education credit', 'Unnamed: 114', 'Net premium tax credit', 'Unnamed: 116', 'Income tax [9]', 'Unnamed: 118', 'Total tax liability [10]', 'Unnamed: 120', 'Additional Medicare tax', 'Unnamed: 122', 'Net investment income tax', 'Unnamed: 124', 'Tax due at time of filing [11]', 'Unnamed: 126', 'Overpayments refunded [12]', 'Unnamed: 128']

In [84]:
# Kyle does some crazy shit.
income_brackets2015 = pd.read_csv("./datasets/income_bracket_wa copy_cleaned.csv")
income_brackets2015 = income_brackets2015.rename(columns={'ZIP\rcode [1]': 'zip_code', 
                                                          'Total income': 'returns', 
                                                          'Unnamed: 18': 'total_income'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]
seattle_income_brackets = income_brackets2015[income_brackets2015["zip_code"].isin(seattle_zips)]
row_iterator = seattle_income_brackets.iterrows()
for i, row in row_iterator:
    if (i % 8 == 1):
        total_income = int(row["total_income"].replace(',', ''))
        returns = int(row["returns"].replace(',', ''))
        
        average_income_per_return = total_income / returns
        print(str(row["zip_code"]) + " has average return of " + str(average_income_per_return))
seattle_income_brackets

print("kyle is sexy af and his data science skills are passable")

IOError: File ./datasets/income_bracket_wa copy_cleaned.csv does not exist

In [151]:
# crazy shit part2.
irs_tax_2015 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2015_cleaned.csv")

In [166]:
irs_tax_2015 = irs_tax_2015.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2015[irs_tax_2015["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2015 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["total_income_amount"].replace(',', ''))
        returns = int(row["total_income_ returns"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        
        avgs2015.append(average_income_per_return)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 182.797228916
Row Number: 432, Zip code: 98102 has average return of 118.631752701
Row Number: 440, Zip code: 98103 has average return of 99.4100169779
Row Number: 448, Zip code: 98104 has average return of 110.387573099
Row Number: 456, Zip code: 98105 has average return of 154.41700237
Row Number: 464, Zip code: 98106 has average return of 57.3247863248
Row Number: 472, Zip code: 98107 has average return of 92.7397862979
Row Number: 480, Zip code: 98108 has average return of 54.8313886606
Row Number: 488, Zip code: 98109 has average return of 128.345738295
Row Number: 504, Zip code: 98112 has average return of 249.725769854
Row Number: 512, Zip code: 98115 has average return of 120.245904115
Row Number: 520, Zip code: 98116 has average return of 114.459640636
Row Number: 528, Zip code: 98117 has average return of 112.083054627
Row Number: 536, Zip code: 98118 has average return of 64.8323642582
Row Number: 544, Zip code: 98119 has average return of 132.568601986
Row Number: 552, Zip code: 98121 has average return of 163.356920078
Row Number: 560, Zip code: 98122 has average return of 90.7202519832
Row Number: 568, Zip code: 98125 has average return of 72.0703913248
Row Number: 576, Zip code: 98126 has average return of 83.0331255565
Row Number: 584, Zip code: 98133 has average return of 62.9736673347
Row Number: 592, Zip code: 98134 has average return of 181.182352941
Row Number: 600, Zip code: 98136 has average return of 121.229296424
Row Number: 608, Zip code: 98144 has average return of 90.5992361553
Row Number: 616, Zip code: 98146 has average return of 64.5705403405
Row Number: 640, Zip code: 98164 has average return of 207.145454545
Row Number: 664, Zip code: 98177 has average return of 147.262692308
Row Number: 672, Zip code: 98178 has average return of 56.0468085106
Row Number: 696, Zip code: 98199 has average return of 161.377074041

In [153]:
irs_tax_2014 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2014_cleaned.csv")
irs_tax_2014 = irs_tax_2014.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2014[irs_tax_2014["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2014 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["total_income_amount"].replace(',', ''))
        returns = int(row["total_income_returns"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2014.append(average_income_per_return)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 162.265605096
Row Number: 432, Zip code: 98102 has average return of 104.645980512
Row Number: 440, Zip code: 98103 has average return of 93.6093226257
Row Number: 448, Zip code: 98104 has average return of 98.6386666667
Row Number: 456, Zip code: 98105 has average return of 120.832195122
Row Number: 464, Zip code: 98106 has average return of 54.180333069
Row Number: 472, Zip code: 98107 has average return of 88.7243837442
Row Number: 480, Zip code: 98108 has average return of 55.2398483572
Row Number: 488, Zip code: 98109 has average return of 123.223566478
Row Number: 504, Zip code: 98112 has average return of 238.950695012
Row Number: 512, Zip code: 98115 has average return of 111.59159954
Row Number: 520, Zip code: 98116 has average return of 110.75813783
Row Number: 528, Zip code: 98117 has average return of 103.999262202
Row Number: 536, Zip code: 98118 has average return of 62.5902643172
Row Number: 544, Zip code: 98119 has average return of 124.469558482
Row Number: 552, Zip code: 98121 has average return of 137.56627027
Row Number: 560, Zip code: 98122 has average return of 91.2428994083
Row Number: 568, Zip code: 98125 has average return of 69.8708718948
Row Number: 576, Zip code: 98126 has average return of 77.6182815356
Row Number: 584, Zip code: 98133 has average return of 58.8248972884
Row Number: 592, Zip code: 98134 has average return of 164.972
Row Number: 600, Zip code: 98136 has average return of 122.748817967
Row Number: 608, Zip code: 98144 has average return of 86.5156901042
Row Number: 616, Zip code: 98146 has average return of 62.4357359636
Row Number: 640, Zip code: 98164 has average return of 187.625
Row Number: 664, Zip code: 98177 has average return of 139.299707602
Row Number: 672, Zip code: 98178 has average return of 54.6765322581
Row Number: 696, Zip code: 98199 has average return of 148.115656109

In [154]:
irs_tax_2013 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2013_cleaned.csv")
irs_tax_2013 = irs_tax_2013.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2013[irs_tax_2013["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2013 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["total_income_amount"].replace(',', ''))
        returns = int(row["total_income_returns"].replace(',', ''))

        average_income_per_return = total_income * 1.0  / returns
        avgs2013.append(average_income_per_return)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 138.299493029
Row Number: 432, Zip code: 98102 has average return of 96.2710327456
Row Number: 440, Zip code: 98103 has average return of 86.9086678508
Row Number: 448, Zip code: 98104 has average return of 99.9945288754
Row Number: 456, Zip code: 98105 has average return of 110.580779221
Row Number: 464, Zip code: 98106 has average return of 50.71864
Row Number: 472, Zip code: 98107 has average return of 78.8752762431
Row Number: 480, Zip code: 98108 has average return of 50.7077249576
Row Number: 488, Zip code: 98109 has average return of 110.559019608
Row Number: 504, Zip code: 98112 has average return of 205.637840066
Row Number: 512, Zip code: 98115 has average return of 102.620930233
Row Number: 520, Zip code: 98116 has average return of 100.201464129
Row Number: 528, Zip code: 98117 has average return of 95.8076879271
Row Number: 536, Zip code: 98118 has average return of 57.8351900973
Row Number: 544, Zip code: 98119 has average return of 113.653172691
Row Number: 552, Zip code: 98121 has average return of 129.682876712
Row Number: 560, Zip code: 98122 has average return of 78.5491542799
Row Number: 568, Zip code: 98125 has average return of 65.41865
Row Number: 576, Zip code: 98126 has average return of 71.9969863014
Row Number: 584, Zip code: 98133 has average return of 55.902324616
Row Number: 592, Zip code: 98134 has average return of 128.962711864
Row Number: 600, Zip code: 98136 has average return of 107.072576832
Row Number: 608, Zip code: 98144 has average return of 78.010690571
Row Number: 616, Zip code: 98146 has average return of 58.6393568147
Row Number: 640, Zip code: 98164 has average return of 205.972727273
Row Number: 664, Zip code: 98177 has average return of 122.82677702
Row Number: 672, Zip code: 98178 has average return of 51.5281818182
Row Number: 696, Zip code: 98199 has average return of 133.456572983

In [155]:
irs_tax_2012 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2012_cleaned.csv")
irs_tax_2012 = irs_tax_2012.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2012[irs_tax_2012["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2012 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', '')) - int(row["total_tax_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', '')) #- int(row["total_income_amount"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2012.append(average_income_per_return)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 123.570391872
Row Number: 432, Zip code: 98102 has average return of 68.1592932862
Row Number: 440, Zip code: 98103 has average return of 57.7662222222
Row Number: 448, Zip code: 98104 has average return of 110.840847784
Row Number: 456, Zip code: 98105 has average return of 80.1371059014
Row Number: 464, Zip code: 98106 has average return of 34.6288065844
Row Number: 472, Zip code: 98107 has average return of 51.474068323
Row Number: 480, Zip code: 98108 has average return of 32.4832383124
Row Number: 488, Zip code: 98109 has average return of 71.7505668934
Row Number: 504, Zip code: 98112 has average return of 188.125
Row Number: 512, Zip code: 98115 has average return of 67.627239819
Row Number: 520, Zip code: 98116 has average return of 67.7039900249
Row Number: 528, Zip code: 98117 has average return of 60.015625
Row Number: 536, Zip code: 98118 has average return of 39.7432120162
Row Number: 544, Zip code: 98119 has average return of 80.9114678899
Row Number: 552, Zip code: 98121 has average return of 91.3768606225
Row Number: 560, Zip code: 98122 has average return of 53.0744101633
Row Number: 568, Zip code: 98125 has average return of 44.9990803188
Row Number: 576, Zip code: 98126 has average return of 49.0335578002
Row Number: 584, Zip code: 98133 has average return of 36.8058431574
Row Number: 592, Zip code: 98134 has average return of 68.4782608696
Row Number: 600, Zip code: 98136 has average return of 71.3184
Row Number: 608, Zip code: 98144 has average return of 57.914486755
Row Number: 616, Zip code: 98146 has average return of 39.0581926514
Row Number: 640, Zip code: 98164 has average return of 103.28
Row Number: 664, Zip code: 98177 has average return of 98.336332574
Row Number: 672, Zip code: 98178 has average return of 34.6074946467
Row Number: 696, Zip code: 98199 has average return of 92.4530443756

In [156]:
irs_tax_2011 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2011_cleaned.csv")
irs_tax_2011 = irs_tax_2011.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2011[irs_tax_2011["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2011 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', '')) - int(row["total_tax_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', '')) #- int(row["total_income_amount"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2011.append(average_income_per_return)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 102.260257562
Row Number: 432, Zip code: 98102 has average return of 57.3729558389
Row Number: 440, Zip code: 98103 has average return of 51.1435787917
Row Number: 448, Zip code: 98104 has average return of 102.134805945
Row Number: 456, Zip code: 98105 has average return of 72.3419809432
Row Number: 464, Zip code: 98106 has average return of 32.2341193966
Row Number: 472, Zip code: 98107 has average return of 46.8380852944
Row Number: 480, Zip code: 98108 has average return of 30.1164863901
Row Number: 488, Zip code: 98109 has average return of 82.9815594945
Row Number: 504, Zip code: 98112 has average return of 116.258706946
Row Number: 512, Zip code: 98115 has average return of 62.6108775137
Row Number: 520, Zip code: 98116 has average return of 60.320574567
Row Number: 528, Zip code: 98117 has average return of 56.4320748413
Row Number: 536, Zip code: 98118 has average return of 36.3341233632
Row Number: 544, Zip code: 98119 has average return of 67.9118309859
Row Number: 552, Zip code: 98121 has average return of 83.6023688663
Row Number: 560, Zip code: 98122 has average return of 49.456543271
Row Number: 568, Zip code: 98125 has average return of 40.7545335577
Row Number: 576, Zip code: 98126 has average return of 45.540704322
Row Number: 584, Zip code: 98133 has average return of 35.0524450005
Row Number: 592, Zip code: 98134 has average return of 63.6333333333
Row Number: 600, Zip code: 98136 has average return of 61.9034812287
Row Number: 608, Zip code: 98144 has average return of 49.0653555989
Row Number: 616, Zip code: 98146 has average return of 36.6712673786
Row Number: 640, Zip code: 98164 has average return of 82.981981982
Row Number: 664, Zip code: 98177 has average return of 81.7303225806
Row Number: 672, Zip code: 98178 has average return of 33.1412924425
Row Number: 696, Zip code: 98199 has average return of 100.448352111

In [157]:
irs_tax_2010 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2010_cleaned.csv")
irs_tax_2010 = irs_tax_2010.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2010[irs_tax_2010["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2010 = []
zips_seen = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', '')) - int(row["total_tax_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', '')) #- int(row["total_income_amount"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2010.append(average_income_per_return)
        zips_seen.append(str(row["zip_code"]))
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 81.9835147247
Row Number: 432, Zip code: 98102 has average return of 54.862226479
Row Number: 440, Zip code: 98103 has average return of 49.8693668961
Row Number: 448, Zip code: 98104 has average return of 54.87395879
Row Number: 456, Zip code: 98105 has average return of 76.4316270716
Row Number: 464, Zip code: 98106 has average return of 30.5679517553
Row Number: 472, Zip code: 98107 has average return of 44.3935483871
Row Number: 480, Zip code: 98108 has average return of 28.9843156476
Row Number: 488, Zip code: 98109 has average return of 70.3520277525
Row Number: 504, Zip code: 98112 has average return of 106.573235817
Row Number: 512, Zip code: 98115 has average return of 59.5168879571
Row Number: 520, Zip code: 98116 has average return of 55.7803523388
Row Number: 528, Zip code: 98117 has average return of 52.6898395722
Row Number: 536, Zip code: 98118 has average return of 35.1100490048
Row Number: 544, Zip code: 98119 has average return of 66.2663048745
Row Number: 552, Zip code: 98121 has average return of 88.9745749962
Row Number: 560, Zip code: 98122 has average return of 46.3191489362
Row Number: 568, Zip code: 98125 has average return of 38.9881712948
Row Number: 576, Zip code: 98126 has average return of 42.415144818
Row Number: 584, Zip code: 98133 has average return of 33.9761627291
Row Number: 592, Zip code: 98134 has average return of 72.9370629371
Row Number: 600, Zip code: 98136 has average return of 59.8199530192
Row Number: 608, Zip code: 98144 has average return of 50.5909646977
Row Number: 616, Zip code: 98146 has average return of 35.6092095796
Row Number: 640, Zip code: 98164 has average return of 74.7981651376
Row Number: 664, Zip code: 98177 has average return of 78.2247679474
Row Number: 672, Zip code: 98178 has average return of 32.15625
Row Number: 696, Zip code: 98199 has average return of 78.8211694409

In [165]:
# CHECKING TO SEE WHICH ZIPS THAT ETHAN CALCULATED AS BEING IN SEATTLE
# DID NOT ACTUALLY SHOW UP IN THE IRS DATA
zips_occur = []
for i in zips_seen:
    i = int(i)
    if i in seattle_zips:
        print(i)
        zips_occur.append(i)
        
print("The following zips are not in the data set")
print(set(seattle_zips) - set(zips_occur))

# d = {'2015' : pd.Series(avgs2015, index=zips_occur),
#     '2014': pd.Series(avgs2014, index=zips_occur),
#     '2013': pd.Series(avgs2013, index=zips_occur),
#     '2012': pd.Series(avgs2012, index=zips_occur),
#     '2011': pd.Series(avgs2011, index=zips_occur),
#     '2010': pd.Series(avgs2010, index=zips_occur)} # NOT EXISTANT ZIPS 98195, 98174,
# income_by_zipcode_frame = pd.DataFrame(d)
# income_by_zipcode_frame

98101
98102
98103
98104
98105
98106
98107
98108
98109
98112
98115
98116
98117
98118
98119
98121
98122
98125
98126
98133
98134
98136
98144
98146
98164
98177
98178
98199
The following zips are not in the data set
set([98154, 98195, 98174])

In [160]:
income_by_zipcode_frame.to_csv("income_time_series.csv", encoding='utf-8')