In [6]:
# Imports
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt

In [7]:
# Read in data 
income_brackets2015 = pd.read_csv("./datasets/income_bracket_wa copy_cleaned.csv")
print(list(income_brackets2015))
# income_brackets2015

FileNotFoundError: File b'./datasets/income_bracket_wa copy_cleaned.csv' does not exist

In [8]:
# Kyle does some crazy shit.
income_brackets2015 = pd.read_csv("./datasets/income_bracket_wa copy_cleaned.csv")
income_brackets2015 = income_brackets2015.rename(columns={'ZIP\rcode [1]': 'zip_code', 
                                                          'Total income': 'returns', 
                                                          'Unnamed: 18': 'total_income'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]
seattle_income_brackets = income_brackets2015[income_brackets2015["zip_code"].isin(seattle_zips)]
row_iterator = seattle_income_brackets.iterrows()
for i, row in row_iterator:
    if (i % 8 == 1):
        total_income = int(row["total_income"].replace(',', ''))
        returns = int(row["returns"].replace(',', ''))
        
        average_income_per_return = total_income / returns
        print(str(row["zip_code"]) + " has average return of " + str(average_income_per_return))
seattle_income_brackets

print("kyle is sexy af and his data science skills are passable")

FileNotFoundError: File b'./datasets/income_bracket_wa copy_cleaned.csv' does not exist

In [9]:
# crazy shit part2.
irs_tax_2015 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2015_cleaned.csv")

In [33]:
irs_tax_2015 = irs_tax_2015.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2015[irs_tax_2015["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2015 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        
        avgs2015.append(average_income_per_return * 1000)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 171.3102257636122
Row Number: 432, Zip code: 98102 has average return of 105.83557133634604
Row Number: 440, Zip code: 98103 has average return of 87.75035487485992
Row Number: 448, Zip code: 98104 has average return of 105.37015706806282
Row Number: 456, Zip code: 98105 has average return of 156.28333333333333
Row Number: 464, Zip code: 98106 has average return of 47.90757717492984
Row Number: 472, Zip code: 98107 has average return of 80.40613496932515
Row Number: 480, Zip code: 98108 has average return of 46.66452947259565
Row Number: 488, Zip code: 98109 has average return of 114.99089159717768
Row Number: 504, Zip code: 98112 has average return of 237.46750448833035
Row Number: 512, Zip code: 98115 has average return of 107.76525781910398
Row Number: 520, Zip code: 98116 has average return of 100.10396039603961
Row Number: 528, Zip code: 98117 has average return of 97.70191713048855
Row Number: 536, Zip code: 98118 has average return of 57.2465811965812
Row Number: 544, Zip code: 98119 has average return of 118.89925803792251
Row Number: 552, Zip code: 98121 has average return of 150.2881731784583
Row Number: 560, Zip code: 98122 has average return of 82.14233385661957
Row Number: 568, Zip code: 98125 has average return of 62.2600110314396
Row Number: 576, Zip code: 98126 has average return of 72.34748201438849
Row Number: 584, Zip code: 98133 has average return of 52.193717768401314
Row Number: 592, Zip code: 98134 has average return of 184.24318181818182
Row Number: 600, Zip code: 98136 has average return of 103.78211068211068
Row Number: 608, Zip code: 98144 has average return of 83.01889469753547
Row Number: 616, Zip code: 98146 has average return of 54.737466063348414
Row Number: 640, Zip code: 98164 has average return of 195.71
Row Number: 664, Zip code: 98177 has average return of 134.1043046357616
Row Number: 672, Zip code: 98178 has average return of 46.33953261927945
Row Number: 696, Zip code: 98199 has average return of 146.73664047151277

In [34]:
irs_tax_2014 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2014_cleaned.csv")
irs_tax_2014 = irs_tax_2014.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2014[irs_tax_2014["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2014 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2014.append(average_income_per_return * 1000)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 149.35878186968839
Row Number: 432, Zip code: 98102 has average return of 91.96521739130435
Row Number: 440, Zip code: 98103 has average return of 81.50691244239631
Row Number: 448, Zip code: 98104 has average return of 95.35750452079566
Row Number: 456, Zip code: 98105 has average return of 118.85695364238411
Row Number: 464, Zip code: 98106 has average return of 45.22652468538238
Row Number: 472, Zip code: 98107 has average return of 76.47982583454282
Row Number: 480, Zip code: 98108 has average return of 44.096424702058506
Row Number: 488, Zip code: 98109 has average return of 110.30491913746631
Row Number: 504, Zip code: 98112 has average return of 227.19565217391303
Row Number: 512, Zip code: 98115 has average return of 99.02401032702238
Row Number: 520, Zip code: 98116 has average return of 96.69650690495533
Row Number: 528, Zip code: 98117 has average return of 89.89195693476884
Row Number: 536, Zip code: 98118 has average return of 55.5744966442953
Row Number: 544, Zip code: 98119 has average return of 111.30616554054055
Row Number: 552, Zip code: 98121 has average return of 124.61338766006985
Row Number: 560, Zip code: 98122 has average return of 83.62296544035675
Row Number: 568, Zip code: 98125 has average return of 60.67257505773672
Row Number: 576, Zip code: 98126 has average return of 66.99957492029756
Row Number: 584, Zip code: 98133 has average return of 48.49092682926829
Row Number: 592, Zip code: 98134 has average return of 171.8452380952381
Row Number: 600, Zip code: 98136 has average return of 105.64108322324967
Row Number: 608, Zip code: 98144 has average return of 79.56362934362934
Row Number: 616, Zip code: 98146 has average return of 53.15564971751412
Row Number: 640, Zip code: 98164 has average return of 151.04166666666666
Row Number: 664, Zip code: 98177 has average return of 126.54994350282486
Row Number: 672, Zip code: 98178 has average return of 45.37429718875502
Row Number: 696, Zip code: 98199 has average return of 133.79629258517033

In [35]:
irs_tax_2013 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2013_cleaned.csv")
irs_tax_2013 = irs_tax_2013.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2013[irs_tax_2013["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2013 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', ''))

        average_income_per_return = total_income * 1.0  / returns
        avgs2013.append(average_income_per_return * 1000)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 126.69957081545064
Row Number: 432, Zip code: 98102 has average return of 85.30487637362637
Row Number: 440, Zip code: 98103 has average return of 75.51102299762094
Row Number: 448, Zip code: 98104 has average return of 98.74072657743785
Row Number: 456, Zip code: 98105 has average return of 108.21915739268681
Row Number: 464, Zip code: 98106 has average return of 42.107852882703774
Row Number: 472, Zip code: 98107 has average return of 67.16608231707318
Row Number: 480, Zip code: 98108 has average return of 43.939356984478934
Row Number: 488, Zip code: 98109 has average return of 99.35579246624023
Row Number: 504, Zip code: 98112 has average return of 197.3460966542751
Row Number: 512, Zip code: 98115 has average return of 90.49901697944594
Row Number: 520, Zip code: 98116 has average return of 86.84827868852459
Row Number: 528, Zip code: 98117 has average return of 82.05780346820809
Row Number: 536, Zip code: 98118 has average return of 50.627752553916004
Row Number: 544, Zip code: 98119 has average return of 101.87575757575758
Row Number: 552, Zip code: 98121 has average return of 117.3892901618929
Row Number: 560, Zip code: 98122 has average return of 70.73979952830189
Row Number: 568, Zip code: 98125 has average return of 56.442788749251946
Row Number: 576, Zip code: 98126 has average return of 62.49566630552546
Row Number: 584, Zip code: 98133 has average return of 45.92875686470295
Row Number: 592, Zip code: 98134 has average return of 147.02727272727273
Row Number: 600, Zip code: 98136 has average return of 90.17333333333333
Row Number: 608, Zip code: 98144 has average return of 70.85601926163724
Row Number: 616, Zip code: 98146 has average return of 49.55269749518305
Row Number: 640, Zip code: 98164 has average return of 166.54545454545453
Row Number: 664, Zip code: 98177 has average return of 109.8228149829739
Row Number: 672, Zip code: 98178 has average return of 42.27792887029289
Row Number: 696, Zip code: 98199 has average return of 120.04679552390641

In [36]:
irs_tax_2012 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2012_cleaned.csv")
irs_tax_2012 = irs_tax_2012.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2012[irs_tax_2012["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2012 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', '')) #- int(row["total_tax_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', '')) #- int(row["total_income_amount"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2012.append(average_income_per_return * 1000)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 157.0799709724238
Row Number: 432, Zip code: 98102 has average return of 85.95893992932862
Row Number: 440, Zip code: 98103 has average return of 72.25171717171717
Row Number: 448, Zip code: 98104 has average return of 144.42736030828516
Row Number: 456, Zip code: 98105 has average return of 104.02336297493937
Row Number: 464, Zip code: 98106 has average return of 41.367386831275724
Row Number: 472, Zip code: 98107 has average return of 63.85217391304348
Row Number: 480, Zip code: 98108 has average return of 39.156100342075256
Row Number: 488, Zip code: 98109 has average return of 91.45661375661376
Row Number: 504, Zip code: 98112 has average return of 247.75686090225565
Row Number: 512, Zip code: 98115 has average return of 85.27248868778281
Row Number: 520, Zip code: 98116 has average return of 85.35893599334996
Row Number: 528, Zip code: 98117 has average return of 75.15345052083333
Row Number: 536, Zip code: 98118 has average return of 48.71634893125361
Row Number: 544, Zip code: 98119 has average return of 103.61146788990825
Row Number: 552, Zip code: 98121 has average return of 117.69174560216508
Row Number: 560, Zip code: 98122 has average return of 67.03901996370236
Row Number: 568, Zip code: 98125 has average return of 54.97682403433476
Row Number: 576, Zip code: 98126 has average return of 60.40897867564534
Row Number: 584, Zip code: 98133 has average return of 44.29584828293183
Row Number: 592, Zip code: 98134 has average return of 92.44130434782609
Row Number: 600, Zip code: 98136 has average return of 90.3124
Row Number: 608, Zip code: 98144 has average return of 73.48841059602648
Row Number: 616, Zip code: 98146 has average return of 47.54309831181728
Row Number: 640, Zip code: 98164 has average return of 135.67
Row Number: 664, Zip code: 98177 has average return of 124.23462414578587
Row Number: 672, Zip code: 98178 has average return of 41.55867237687366
Row Number: 696, Zip code: 98199 has average return of 119.13839009287926

In [37]:
irs_tax_2011 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2011_cleaned.csv")
irs_tax_2011 = irs_tax_2011.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2011[irs_tax_2011["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2011 = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', ''))# - int(row["total_tax_amount"].replace(',', ''))
        returns = int(row["taxable_income_returns"].replace(',', '')) #- int(row["total_income_amount"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2011.append(average_income_per_return * 1000)
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 132.70395327942498
Row Number: 432, Zip code: 98102 has average return of 73.5314458612492
Row Number: 440, Zip code: 98103 has average return of 63.90291182389421
Row Number: 448, Zip code: 98104 has average return of 124.47749793559042
Row Number: 456, Zip code: 98105 has average return of 93.4694531187445
Row Number: 464, Zip code: 98106 has average return of 38.462821329934144
Row Number: 472, Zip code: 98107 has average return of 58.01726768934222
Row Number: 480, Zip code: 98108 has average return of 36.07595388089861
Row Number: 488, Zip code: 98109 has average return of 104.75264287417535
Row Number: 504, Zip code: 98112 has average return of 154.95016355589763
Row Number: 512, Zip code: 98115 has average return of 78.83702010968922
Row Number: 520, Zip code: 98116 has average return of 76.30882974228982
Row Number: 528, Zip code: 98117 has average return of 70.4415636485132
Row Number: 536, Zip code: 98118 has average return of 44.54577235290632
Row Number: 544, Zip code: 98119 has average return of 87.81079812206573
Row Number: 552, Zip code: 98121 has average return of 107.98434856175973
Row Number: 560, Zip code: 98122 has average return of 62.24996904791383
Row Number: 568, Zip code: 98125 has average return of 49.78263849940799
Row Number: 576, Zip code: 98126 has average return of 55.884175623142006
Row Number: 584, Zip code: 98133 has average return of 42.07183818162861
Row Number: 592, Zip code: 98134 has average return of 83.65925925925926
Row Number: 600, Zip code: 98136 has average return of 78.2698976109215
Row Number: 608, Zip code: 98144 has average return of 62.452487920657795
Row Number: 616, Zip code: 98146 has average return of 44.49486197864195
Row Number: 640, Zip code: 98164 has average return of 109.01801801801801
Row Number: 664, Zip code: 98177 has average return of 104.37653958944281
Row Number: 672, Zip code: 98178 has average return of 39.60711938663746
Row Number: 696, Zip code: 98199 has average return of 128.4387701379383

In [38]:
irs_tax_2010 = pd.read_csv("./datasets/tax_bracket_time_series/cleaned_irs_tax_files/irs_tax_washington_2010_cleaned.csv")
irs_tax_2010 = irs_tax_2010.rename(columns={'ZIP\rcode [1]': 'zip_code'})
seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 
         98116, 98117, 98118, 98119, 98121, 98122, 98125, 98126, 98133, 98134, 98136, 
         98144, 98146, 98154, 98164, 98174, 98177, 98178, 98195, 98199]

string_seattle_zips = map(str, seattle_zips)

# list(irs_tax_2015["zip_code"])
seattle_income = irs_tax_2010[irs_tax_2010["zip_code"].isin(string_seattle_zips)]
row_iterator = seattle_income.iterrows()
avgs2010 = []
zips_seen = []
for i, row in row_iterator:
    if i % 8 == 0:
        total_income = int(row["taxable_income_amount"].replace(',', '')) #- int(row["total_tax_amount"].replace(',', ''))
        returns = int(row["total_tax_returns"].replace(',', '')) #- int(row["total_income_amount"].replace(',', ''))

        average_income_per_return = total_income * 1.0 / returns
        avgs2010.append(average_income_per_return * 1000)
        zips_seen.append(str(row["zip_code"]))
        print("Row Number: " + str(i) + ", Zip code: " +  str(row["zip_code"]) + " has average return of " + str(average_income_per_return))

Row Number: 424, Zip code: 98101 has average return of 107.77311336164652
Row Number: 432, Zip code: 98102 has average return of 72.00240150093809
Row Number: 440, Zip code: 98103 has average return of 63.22561368814754
Row Number: 448, Zip code: 98104 has average return of 73.53762956286616
Row Number: 456, Zip code: 98105 has average return of 102.21395861601086
Row Number: 464, Zip code: 98106 has average return of 38.317631072358736
Row Number: 472, Zip code: 98107 has average return of 55.57927332782824
Row Number: 480, Zip code: 98108 has average return of 36.556673114119924
Row Number: 488, Zip code: 98109 has average return of 90.28690575479567
Row Number: 504, Zip code: 98112 has average return of 143.2910372608258
Row Number: 512, Zip code: 98115 has average return of 76.52632581167286
Row Number: 520, Zip code: 98116 has average return of 70.67750416265008
Row Number: 528, Zip code: 98117 has average return of 65.97583846680357
Row Number: 536, Zip code: 98118 has average return of 45.1430383761497
Row Number: 544, Zip code: 98119 has average return of 86.71211373284628
Row Number: 552, Zip code: 98121 has average return of 115.08804265041888
Row Number: 560, Zip code: 98122 has average return of 59.86136649249289
Row Number: 568, Zip code: 98125 has average return of 49.24615183074605
Row Number: 576, Zip code: 98126 has average return of 52.545240339302545
Row Number: 584, Zip code: 98133 has average return of 42.22428524482419
Row Number: 592, Zip code: 98134 has average return of 94.1304347826087
Row Number: 600, Zip code: 98136 has average return of 76.7218811052191
Row Number: 608, Zip code: 98144 has average return of 67.33819507748404
Row Number: 616, Zip code: 98146 has average return of 45.81655701754386
Row Number: 640, Zip code: 98164 has average return of 98.36111111111111
Row Number: 664, Zip code: 98177 has average return of 101.21216830026297
Row Number: 672, Zip code: 98178 has average return of 40.501451631633955
Row Number: 696, Zip code: 98199 has average return of 103.85445447623192

In [39]:
# CHECKING TO SEE WHICH ZIPS THAT ETHAN CALCULATED AS BEING IN SEATTLE
# DID NOT ACTUALLY SHOW UP IN THE IRS DATA
zips_occur = []
for i in zips_seen:
    i = int(i)
    if i in seattle_zips:
        print(i)
        zips_occur.append(i)
        
print("The following zips are not in the data set")
print(set(seattle_zips) - set(zips_occur))

d = {'2015' : pd.Series(avgs2015, index=zips_occur),
    '2014': pd.Series(avgs2014, index=zips_occur),
    '2013': pd.Series(avgs2013, index=zips_occur),
    '2012': pd.Series(avgs2012, index=zips_occur),
    '2011': pd.Series(avgs2011, index=zips_occur),
    '2010': pd.Series(avgs2010, index=zips_occur)} # NOT EXISTANT ZIPS 98195, 98174,
income_by_zipcode_frame = pd.DataFrame(d)
income_by_zipcode_frame

98101
98102
98103
98104
98105
98106
98107
98108
98109
98112
98115
98116
98117
98118
98119
98121
98122
98125
98126
98133
98134
98136
98144
98146
98164
98177
98178
98199
The following zips are not in the data set
{98154, 98195, 98174}

,2010,2011,2012,2013,2014,2015
98101,107773.113362,132703.953279,157079.970972,126699.570815,149358.781870,171310.225764
98102,72002.401501,73531.445861,85958.939929,85304.876374,91965.217391,105835.571336
98103,63225.613688,63902.911824,72251.717172,75511.022998,81506.912442,87750.354875
98104,73537.629563,124477.497936,144427.360308,98740.726577,95357.504521,105370.157068
98105,102213.958616,93469.453119,104023.362975,108219.157393,118856.953642,156283.333333
98106,38317.631072,38462.821330,41367.386831,42107.852883,45226.524685,47907.577175
98107,55579.273328,58017.267689,63852.173913,67166.082317,76479.825835,80406.134969
98108,36556.673114,36075.953881,39156.100342,43939.356984,44096.424702,46664.529473
98109,90286.905755,104752.642874,91456.613757,99355.792466,110304.919137,114990.891597
98112,143291.037261,154950.163556,247756.860902,197346.096654,227195.652174,237467.504488
98115,76526.325812,78837.020110,85272.488688,90499.016979,99024.010327,107765.257819
98116,70677.504163,76308.829742,85358.935993,86848.278689,96696.506905,100103.960396
98117,65975.838467,70441.563649,75153.450521,82057.803468,89891.956935,97701.917130
98118,45143.038376,44545.772353,48716.348931,50627.752554,55574.496644,57246.581197
98119,86712.113733,87810.798122,103611.467890,101875.757576,111306.165541,118899.258038
98121,115088.042650,107984.348562,117691.745602,117389.290162,124613.387660,150288.173178
98122,59861.366492,62249.969048,67039.019964,70739.799528,83622.965440,82142.333857
98125,49246.151831,49782.638499,54976.824034,56442.788749,60672.575058,62260.011031
98126,52545.240339,55884.175623,60408.978676,62495.666306,66999.574920,72347.482014
98133,42224.285245,42071.838182,44295.848283,45928.756865,48490.926829,52193.717768
98134,94130.434783,83659.259259,92441.304348,147027.272727,171845.238095,184243.181818
98136,76721.881105,78269.897611,90312.400000,90173.333333,105641.083223,103782.110682
98144,67338.195077,62452.487921,73488.410596,70856.019262,79563.629344,83018.894698
98146,45816.557018,44494.861979,47543.098312,49552.697495,53155.649718,54737.466063
98164,98361.111111,109018.018018,135670.000000,166545.454545,151041.666667,195710.000000
98177,101212.168300,104376.539589,124234.624146,109822.814983,126549.943503,134104.304636
98178,40501.451632,39607.119387,41558.672377,42277.928870,45374.297189,46339.532619
98199,103854.454476,128438.770138,119138.390093,120046.795524,133796.292585,146736.640472

In [40]:
income_by_zipcode_frame.to_csv("income_time_series.csv", encoding='utf-8')